.about
  %h1= t('strings.about')
  .text
    %p.first Formada pela tradicional Universidade Cândido Mendes, Unidade Niterói, turma 2012.2. Seu primeiro emprego foi na Financeira Americanas Itaú, conquistou três promoções e chegou a assistência da gerência.

    %p Foi estagiária na Ampla Energia e Serviços S.A pelo escritório Brandão Couto Wigderowitz Advogados, estagiou no C. Martins Advogados e no Lira Alves Advogados, todos voltados ao Direito Cível, Defesa do Consumidor e Direito Bancário.

    %p Realizou trabalhos voluntários na defensoria pública do 3º JECRIM de Niterói e foi conciliadora no cartório em São Gonçalo.

    %p Participou de diversas palestras na EMERJ (Escola da Magistratura do Estado do Rio de Janeiro), seminários na OAB (Ordem dos Advogados do Brasil), cursos promovidos pela ESA (Escola Superior de Advocacia) e estuda para concursos.

    %p Atualmente trabalha em parceria com o escritório Alessandra Andrade Advocacia, buscando dar continuidade em sua carreira como advogada, atendendo seus clientes de forma sigilosa e ética.

  %img{ src: asset_path('about-picture.jpg'), alt: 'Bruna Ribeiro Xavier' }
