%section.practice_areas
  %h1= t('strings.practice_areas')

  %ul
    %li.odd
      %h3 Correspondência Jurídica
      %p Audiência
      %p Protocolo
      %p Distribuição 
      %p Despacho
      %p Cópias e outros.

    %li.even
      %h3 Consumidor
      %p Danos materiais
      %p Danos morais
      %p Inscrição indevida nos cadastros de inadimplentes
      %p Venda Casada
      %p Cobrança abusiva/indevida
      %p Cancelamento da compra
      %p Reparação por vício do produto ou serviço

    %li.odd
      %h3 Cível
      %p Dano moral e material
      %p Responsabilidade Civil
      %p Mudança de nome
      %p Obrigação de fazer e pagar
      %p Anulatória
      %p Cobranças em geral 
      %p Declaratórias de inexistência de débitos
      %p Procedimento médico urgente

    %li.even
      %h3 Família
      %p Adoção
      %p Divórcio judicial e extrajudicial
      %p Pacto antenupcial
      %p Reconhecimento / dissolução de união estável
      %p Direito de guarda de filhos menores
      %p Alimentos e revisional de alimentos (pensão alimentícia)
      %p Regulamentação de visitas
      %p Investigação de paternidade
      %p Regime de bens
      %p Autorizações para viagens de menores
      %p Tutela e curatela

  / = link_to t('strings.schedule_consultation'), contact_path, class: 'btn-black'
