.practice_areas
  %h1= t('strings.practice_areas')
  .text
    %p.first
      I'm a Paragraph. Click here to add your own text and edit me.
      %br
      It’s easy. Just click “Edit Text” or double click me and you can start
      %br
      adding your own content and make changes to the font.

  %ul
    %li.odd
      %h3 Correspondência Jurídica
      %p O escritório atua como correspondente para advogados e escritórios estabelecidos em vários estados do Brasil. Atuado na Comarca da Capital do RJ, Niterói, Região Oceânica, São Gonçalo, Regional de Alcântara, Maricá e Itaboraí.
      %p Podendo elaborar diversas petições, protocolos, distribuições, Despachos, acompanhamento processual, cópias e diligências diversas.

    %li.even
      %h3 Cobrança Judicial e Administrativa
      %p Negociação para a realização de cobrança extrajudicial, que atua por meio de telefone, envio de correspondências e visitas pessoais aos devedores, além do ajuizamento de Ações de Cobrança, Busca e Apreensão, Execuções e Ações Monitórias, em todas as jurisdições e instâncias do Poder Judiciário.

    %li.odd
      %h3 Contencioso Cível
      %p A sua atuação abrange todas as matérias do direito cível, com maior ênfase na Responsabilidade Civil, Direito de Família, Ações Indenizatórias e Obrigação de Fazer, compreendendo a elaboração das iniciais, contestações, recursos, pareceres, realizações de audiências, em todas as jurisdições e instâncias do Poder Judiciário.

    %li.even
      %h3 Relação de Consumo e Juizados Especiais
      %p Visa atender, especialmente, Instituições financeiras, fornecedoras de mercadorias, seja como prestadora de serviços ou concessionárias de serviços públicos, junto a um grande número de consumidores e que, com frequência, são partes em reclamações cíveis envolvendo todas as relações de consumo. Atendendo também pessoas físicas que foram lesionadas como consumidoras.

    %li.odd
      %h3 Área Trabalhista
      %p Acessoria e Consultoria na área trabalhista, tanto de forma preventiva quanto na contenciosa, buscando acordos extrajudiciais entre o empregador e o empregado. Em caso de impossibilidade de entendimento, buscará de forma litigiosa os direitos do cliente ora em questão.

    %li.even
      %h3 Diversos
      %p Revisão do Benefício Seguro DPVAT, Multa de Trânsito, Elaboração de Habeas Corpus e Mandado de Segurança.

  = link_to t('strings.schedule_consultation'), contact_path, class: 'btn-black'
