%section.social
  %h1= t('strings.social')
  .social-content
    .text
      %p O escritório respeita o meio ambiente, pois reconhece a importância de práticas sustentáveis para as vidas presentes e futuras.

      %p Além disso, tem por princípio contribuir com o desenvolvimento de uma sociedade mais humana, justa e solidária contribuindo e apoiando, entre outros projetos, o Lar Recanto do Carinho e o Casa Lar - EMAÚS

    .imgs
      .row
        %img{ src: asset_path('social1.jpg'), alt: 'Sustentabilidade' }
      .row
        %img{ src: asset_path('emaus.jpg'), alt: 'Casa Lar EMAÚS' }
        %img{ src: asset_path('recanto-carinho.jpg'), alt: 'Lar Recanto do Carinho' }
