article {
  height: auto;
  margin: 0 auto;
  width: 1024px;

  h1 {
    color: $black;
    font-size: 32px;
    margin: 10px 0;
  }

  .about, .practice_areas {
    p.first {
      font-size: 18px;
    }

    p {
      color: $black;
      font-family: Tahoma;
      font-size: 12px;
      margin: 10px 0;
    }
  }

  .btn-black {
    /*@include linear-gradient(, $gray-dark);*/
    @include button(shiny, $gray-dark);
    border-radius: 5px;
    color: $white;
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
  }
}