article {
  height: auto;
  margin: 0 auto;
  width: 1024px;

  h1 {
    color: $gray-dark;
    font-size: 32px;
    margin: 10px 0;
  }

  .about, .practice_areas {
    p.first {
      font-size: 18px;
    }

    p {
      color: $gray-dark;
      font-family: Tahoma;
      font-size: 12px;
      margin: 10px 0;
    }
  }

  .btn-black {
    @include button(shiny, $gray-dark);
    text-transform: uppercase;
    padding: 10px 20px;
  }
}