section.contact {
  .contact-content {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-breakpoint) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .mail {
    width: 100%;
    margin-bottom: 10px;

    @media (min-width: $desktop-breakpoint) {
      width: 64%;
    }

    input[type='submit'] {
      float: right;
    }

    form {
      input[type='text'], input[type='email'], textarea {
        display: block;
        margin: 0 auto;
        width: 300px;
      }

      label.error {
        display: block;
        text-align: center;
        width: 100%;
      }
    }
  }

  .phone-and-meeting {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    @media (min-width: $mobile-breakpoint) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: $desktop-breakpoint) {
      width: 32%;
      flex-direction: column;
    }
  }

  .phone {
    width: 100%;
    margin-bottom: 10px;

    @media (min-width: $mobile-breakpoint) {
      width: 48%;
    }

    @media (min-width: $desktop-breakpoint) {
      width: 100%
    }

    p {
      color: $gray-dark;
    }

    p {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 3px;

      a {
        color: $orange;
        font-size: 12px;
      }
    }
  }
}