.nav {
  background: $gray-dark;
  box-shadow: rgba(0, 0, 0, 0.701961) 0px 0px 5px 0px;
  margin-bottom: 0px;
  width: 100%;
  display: flex;

  .nav-wrapper {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    
    @media (min-width: $desktop-breakpoint) {
      padding: 12px;
      flex-direction: row;
      align-items: center;
    }

    .logo-and-contact {
      display: flex;
      align-items: center;
      padding: 8px;

      @media (min-width: $desktop-breakpoint) {
        align-items: flex-start;
        padding: 0;
      }
    }

    h1, span {
      color: white;
      font-family: sans-serif;
    }

    h1 {
      color: $white;
      font-family: sans-serif;
      margin: 0px;
      font-size: 24px;

      @media (min-width: $desktop-breakpoint) {
        font-size: 32px;
      }

      b {
        color: $orange;
      }
    }

    span {
      clear: left;
      display: none;
      float: right;
      font-size: 14px;

      @media (min-width: $desktop-breakpoint) {
        display: block;
      }
    }

    a.whatsapp {
      color: $white;
      margin: 8px;
      font-size: 20px;

      @media (min-width: $desktop-breakpoint) {
        font-size: 24px;
        margin: 10px;
      }
    }

    ul.menu {
      display: none;
      margin: 0;
      width: 100%;

      @media (min-width: $desktop-breakpoint) {
        display: flex;
        width: auto;
        
        li.oab {
          display: none;
        }
      }


      li:first-child {
        border-top: none;
      }
      
      li {
        padding: 10px;
        width: auto;
        border-top: 1px solid $gray-lighter;
        color: $white;

        @media (min-width: $desktop-breakpoint) {
          border-top: none;
          padding: 0 10px;
        }

        a {
          color: $white;
          font-size: 12px;
          text-transform: uppercase;
        }

        a.active {
          color: $orange;
        }
      }
    }

    a.menu-control {
      display: block;
      color: $white;
      font-size: 18px;
      position: absolute;
      right: 10px;
      top: 18px;

      @media (min-width: $desktop-breakpoint) {
        display: none;
      }
    }
  }
}
