.home {
  position: relative;

  .banner {
    margin-bottom: 10px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .home-content {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-breakpoint) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .news {
    width: 100%;

    @media (min-width: $desktop-breakpoint) {
      width: 72%;
    }
  }

  .links {
    width: 100%;
    margin-top: 10px;

    @media (min-width: $desktop-breakpoint) {
      width: 24%;
      margin-top: 0;
    }
  }

  .news, .links {
    ul {
      margin: 0;

      li {
        margin: 5px 0;

        a {
          color: $gray-dark;
          font-size: 12px;

          span {
            color: $orange;
            font-size: 10px;
          }

          @media (min-width: $desktop-breakpoint) {
            font-size: 14px;

            span {
              font-size: 12px;
            }
          }
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}