.practice_areas {
  ul {
    li {
      float: left;
      height: auto;
      margin: 10px;
      width: 300px;

      h3 {
        border-top: 5px solid;
        font-size: 26px;
        margin: 0 0 10px;
        padding: 10px 0;
      }

      p {
        margin: 5px 0;
      }
    }

    li.odd {
      h3 {
        border-color: $orange;
        color: $orange;
      }
    }

    li.even {
      h3 {
        border-color: $gray-dark;
        color: $gray-dark;
      }
    }
  }

  a {
    float: right;
  }
}